*{
    margin: 0%;
    padding: 0%
}

select{
    width: 80%;
    height: 2rem;
    font-size: 1rem;
}

.input[type=text]{
    border: none;
    border-bottom: #2c3e50;
    background-color: #ecf0f1;
    color: #2c3e50;
}

.login-input{
    margin-top: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    width: 80%;
    height: 2rem;
    font-size: 1rem;
}
/* 
input{
    width:80%;
    height: 2rem;
    font-size: 1rem;
} */

.main-login-page{
    width: 100%;
    height: 100vh;
    background-color: #ecf0f1;
    align-content: center;
}

.login-pane{
    margin: auto;
    margin-top: 100px;
    background-color: #f5f6fa;
    border-radius: 8px;
    box-shadow: 2px 2px #7f8fa6;
    height: 15rem;
    width: 25rem;
    align-self: center;
}

.w3-modal
{
    position: fixed;
    display: block;
    width: 100%;
    height: 100vh;
    background-color: rgba(255,255,255,0.8);
    top: 0;
    left: 0;
}

.loader-holder
{
    display: block;
    width: 100%;
    height: 100%;
}



.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}


.center-table{
    align-self: center;
    border: 0px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.text-center{
    text-align: center;
}

.center-selector-holder{
    width: 100%;
    height: 8rem;
    align-items: center;
    color: #3498db;
    background-color: azure;
}

.center-selector{
    align-self: center;
}

.header{
    background-color: #e74c3c;
    width: 100%;
    height: 6rem;
    display: table;
}

.header-text{
    color: aliceblue;
    font-family: 'Lato';
    display: table-cell;
    vertical-align: middle;
}

#viewAddButtons{
    padding: 1rem
}

.data-returned{
    align-self: center;
}

.data-recieved-holder{
    display: table;
}

button{
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 5px 10px;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
        border-radius: 4px;
}

.login-button{
    align-content: center;
    display: block;
    margin: auto;
}

.radio{
    cursor: pointer;
}

.table-data{
    height: 4rem;
}

#update{
    background-color: #38ada9;
    border-radius: 4px;
}

#delete{
    background-color: #eb2f06;
    border-radius: 4px;
}

#viewAddButtonsScores{
    padding: 1rem
}

td{
    border: 1px black;
}

.table-data:hover{ background-color: #f5f5f5; }
tr:nth-child(even) {background-color: #f2f2f2;}


th,td{
    padding: 15px;
    text-align: left;
    
}

table,th,td{
    border-width: 1px black;
}

.w3-modal-content
{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    transition: all .2s;
}

.w3-button
{
    font-size: 35px;
    cursor: pointer;
    text-align: right;
    position: absolute;
    top: -30px;
    right: -30px;
}

.w3-background
{
    background-color: white;
}